 
 .project_card  {
     display: flex;
     width: 630px;
     height: 800px;
     flex-direction: column;
     border: 1px solid #dbdbdb;
     background-repeat: no-repeat;
     background-position: left;
     background-size: cover;
     justify-content: flex-start;
     align-items: flex-start;
     transition: background-position 0.5s ease;
     cursor: pointer;
 }
 
 .project_card:hover {
     background-position: center;
     transform: translate3d(0px, -1px, 0px);
 }
 
 .project_card:hover .project_cardDiv {
     background-color: rgba(30, 30, 30, 0.608);  
 }
 
 .project_card:hover .cards_div {
     color: #fff;
 } 
 
 .project_card img {
     width: 100%;
 }
 
 .project_card > div {
     width: 100%;
     height: 100%;
 }
 
 .card_about {
     opacity: 0;
 }
 
 @keyframes appear {
     0% {
         opacity: 0;
         margin-top: 50px;
     }
     100% {
         opacity: 1;
         margin-top: 10px;
     }
 }
 
 .project_card:hover .card_about {
     opacity: 1;
     animation: appear;
     animation-duration: 0.5s;
     animation-timing-function: ease;
 } 
 .project_card:hover .link-github{
    opacity: 1;
 }
 
 .cards_div {
     display: flex;
     flex-direction: column;
     margin-left: 50px;
     margin-top: 30px;
 }
 
 .cards_div > h3 {
     font-size: 35px;
     letter-spacing: -1.5px;
     font-weight: 600;
 }
 
 .card_about {
     margin-top: 10px;
 }
 
 .card_about > p {
     color: #f2f2f2; 
     font-size: 18px;
 }
 
 .card_about > div {
     display: flex;
     align-items: center;
 }
 .c-1{
background: url("../public/images/vesting.jpg")   no-repeat;
    background-size: cover;
 }
 .c-2{
    background:  url("../public/images/insurance-policy.jpg") no-repeat;
    background-size: cover;
     }
 
.c-3{
    background: url("../public/images/tenzies.jpg") no-repeat;
    background-size: cover;
}
.c-4{
    background:url("../public/images/domain.jpg") no-repeat;
    background-size: cover;
}
         
 
 .right_icon {
     margin-top: 5px;
 }
 .link-github{
    opacity: 0;
 }
 
 .card_about > div > a{
     margin-top: 10px;
     color: #dbdbdb;
     font-size: 18px;
     display: flex;
     align-items: center;
     font-family: 'Barlow', sans-serif;
 }
 
 @media only screen and (max-width: 1300px) {
     .project_card {
         width: 450px;
         height: 600px;
     }
 }
 
 @media only screen and (max-width: 982px)  {
     .project_card {
         width: 650px;
     }
 }
 
 
 @media only screen and (max-width: 700px) {
     .project_card {
         width: 100%;
     }
 
     .project_card:last-of-type {
         width: 600px;
     }
 }
 
 @media only screen and (max-width: 643px) {
     .project_card {
         width: 100%;
     }
 
     .project_card:last-of-type{
         width: auto;
     }
 }
 
 @media only screen and (max-width: 430px) {
     .project_card {
         background-position: center; 
     }
 }